pipeline/Day.json
{
	"name": "Day",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Day",
						"type": "DatasetReference",
						"parameters": {
							"Year": {
								"value": "@pipeline().parameters.Year",
								"type": "Expression"
							},
							"Month": {
								"value": "@pipeline().parameters.Month",
								"type": "Expression"
							},
							"Day": {
								"value": "@pipeline().parameters.Day",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Hour",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Hour": {
										"value": "@item().name",
										"type": "Expression"
									},
									"Year": {
										"value": "@pipeline().parameters.Year",
										"type": "Expression"
									},
									"Month": {
										"value": "@pipeline().parameters.Month",
										"type": "Expression"
									},
									"Day": {
										"value": "@pipeline().parameters.Day",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Day": {
				"type": "string"
			},
			"Year": {
				"type": "string"
			},
			"Month": {
				"type": "string"
			}
		},
		"variables": {
			"Year": {
				"type": "String"
			},
			"Month": {
				"type": "String"
			},
			"Day": {
				"type": "String"
			},
			"Hour": {
				"type": "String"
			}
		},
		"folder": {
			"name": "YMD"
		},
		"annotations": []
	}
}