pipeline/Hour.json
{
	"name": "Hour",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Hour",
						"type": "DatasetReference",
						"parameters": {
							"Year": {
								"value": "@pipeline().parameters.Year",
								"type": "Expression"
							},
							"Month": {
								"value": "@pipeline().parameters.Month",
								"type": "Expression"
							},
							"Day": {
								"value": "@pipeline().parameters.Day",
								"type": "Expression"
							},
							"Hour": {
								"value": "@pipeline().parameters.Hour",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Transform",
									"type": "DataFlowReference",
									"datasetParameters": {
										"source1": {
											"Year": {
												"value": "@pipeline().parameters.Year",
												"type": "Expression"
											},
											"Month": {
												"value": "@pipeline().parameters.Month",
												"type": "Expression"
											},
											"Day": {
												"value": "@pipeline().parameters.Day",
												"type": "Expression"
											},
											"Hour": {
												"value": "@pipeline().parameters.Hour",
												"type": "Expression"
											},
											"File": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									},
									"linkedServiceParameters": {
										"source1": {
											"schemaLinkedService": {
												"Year": {
													"value": "@pipeline().parameters.Year",
													"type": "Expression"
												},
												"Month": {
													"value": "@pipeline().parameters.Month",
													"type": "Expression"
												},
												"Day": {
													"value": "@pipeline().parameters.Day",
													"type": "Expression"
												},
												"Hour": {
													"value": "@pipeline().parameters.Hour",
													"type": "Expression"
												},
												"File": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Hour": {
				"type": "string"
			},
			"Year": {
				"type": "string"
			},
			"Month": {
				"type": "string"
			},
			"Day": {
				"type": "string"
			}
		},
		"variables": {
			"Year": {
				"type": "String"
			},
			"Month": {
				"type": "String"
			},
			"Day": {
				"type": "String"
			},
			"Hour": {
				"type": "String"
			}
		},
		"folder": {
			"name": "YMD"
		},
		"annotations": []
	}
}